.App {
  text-align: center;
  border: solid 20px rgb(51, 51, 100);
  
  
}


.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  
}

.nav-list > li {
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
}

.thread-list {
  list-style: none;
}

.list-item {
  width: 800px;
  height: 90px;
  border: solid navy 5px;
  border-radius: 15px;
  margin: 5px;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  
  
}

.detail-container > h2 > a {
  color: black;
}